$correctColor: rgba(0, 163, 16, 0.1);
$correctOptionColor: rgba(0, 163, 16, 1);
$incorrectColor: rgba(255, 0, 0, 0.1);
$incorrectOptionColor: rgba(255, 0, 0, 1);
$skippedColor: rgba(217, 255, 0, .1);
$skippedOptionColor: rgba(217, 255, 0, 1);

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 12px;
    margin: 10px 12px;
    .status-img {
        height: 80px;
        width: 80px;
    }
}

.container {
    padding: 12px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.question {
    padding: 12px 16px;
    border-radius: 4px;
}

.answer-options {
    margin-top: 12px;
}

.right-question {
    background-color: $correctColor;
}

.wrong-question {
    background-color: $incorrectColor;
}

.option {
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid rgba(34, 117, 243, 0.25);
}

.right-option {
    background-color: $correctOptionColor;
    color: white;
}

.wrong-selected-option {
    border: 1px solid $incorrectOptionColor;
}

.flex {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}